* {
    box-sizing: border-box;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
/* Header Stylinbg (Navbar) */
#navbar {
    display: flex;
    position: fixed;
    justify-content: flex-end; 
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
}
#navbar-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;  
}
#navbar-list li{
    margin: -5px 20px 0px 15px;
}
#navbar-list a {
    text-decoration: none;
    color: inherit;
}
#navbar-list a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
/* Welcome Section Styling */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #28282B;
    height: 400px;
    width: 100%;
}
#welcome-section h1 {
    font-size: 45px;
}
#welcome-section h4 {
    font-size: 25px;
    font-style: italic;
    color: brown;
    margin: -20px auto 20px auto;
}
/* Projects Section Styling */
#projects {
    background-color: brown;
    padding-bottom: 40px;
}
#projects h2 {
    margin: 0;
    padding-top: 30px;
}
.projects-grid {
    display: flex;
    flex: wrap;
    justify-content: center;
}
.projects-grid a {
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: brown;
    width: auto;
    border-radius: 15px;
    border: 1px solid black;
    margin: 30px 30px 0px 30px;
    background-color: #28282B;
}
img {
   width: 250px;
   height: 250px;
   border-radius: 15px;
}
.projects-grid p {
    height: 20px;
    color: brown;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

@media (max-width: 950px) {
    .projects-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects-grid a {
        width: 250px;
    }
}
/* Contact Styling */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #28282B;
    color: brown;
}
#contact h1 {
    font-size: 40px;
}
#contact-list {
    list-style: none;
    display: flex;
    justify-content: center;  
}
#contact-list li{
    font-size: 30px;
    margin: 0 30px;
}
#contact-list a {
    text-decoration: none;
    color: inherit;
}
#contact-list a:hover {
    color: black;
    background-color: brown;
    border-radius: 10px;
    padding: 5px;
}