* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
}

nav {
    grid-column: 1/2;
    width: 25%;
    height: 100%;
    position: fixed; 
    text-align: center;
    border-right: 1px solid black;
    overflow: auto;
}

#navbar-header{
    padding: 15px 0;
    font-weight: bold;
    font-size: 22px;
}

#navbar-list{
    padding: 3px;
    margin-top: 0;
    padding-top: 0;
}

#navbar-list li {
    list-style: none;
    text-align: left;
    padding-left: 10px;
}

#navbar-list a {
    text-decoration: none;
    color: black;
}

main {
    grid-column: 2/3;
    justify-content: flex-end;
    padding: 5px 15px 15px 40px;
    font-size: 14px;
}

main header {
    font-size: 30px;
    font-weight: 500;
    margin-left: -20px;
    margin-top: 20px;
}

main li {
    margin-bottom: 10px;
}

code {
    display: block;
    background-color: aliceblue;
    padding: 10px 15px;
    margin-right: 30px;
}

@media screen and (max-width: 600px) {
    #navbar {
        display: none;
    }
    main {
        grid-column: 1/3;
    }
}